extends layout

block content
  main(class="max-w-full box-border text-white m-0 p-0 sm:text-lg lg:grid lg:grid-cols-3 lg:gap-x-0 max-h-screen lg:overflow-hidden")
    - var title_before = title_before || ""
    - var middle_name = middle_name || ""
    - var title_after = title_after || ""
    - var first_name = first_name || ""
    - var last_name = last_name || ""
    - var full_name = title_before +" " +first_name+" " +middle_name+" " + last_name + title_after 
    //- first part
    section(class="max-w-[90%] mx-auto lg:w-full")
      a(href="../../" rel="noopener noreferrer") 
        img(loading="lazy" src="../../../img/logo.png", alt="logo", class="w-40 pt-8 lg:px-14 sm:w-56 sm:inline-block lg:block lg:pl-0")
      h1(class="text-2xl text-center font-bold py-6 sm:hidden")= full_name
        //- img
      div(class="max-w-[60%] mx-auto mb-6 sm:float-right relative sm:w-4/12 sm:inline-block sm:mt-16 sm:m-0 lg:block lg:w-full lg:mx-auto lg:float-none lg:mb-[8vh]")
        img(loading="lazy" src=picture_url, alt= full_name, class="rounded-full w-full lg:min-w-[120%]")
        img(loading="lazy" src="../../../img/sipka.png", alt="ikonka šipky", class="hidden sm:block absolute left-0 bottom-0 rotate-90 w-3/12")
      h1(class="hidden text-5xl font-bold pl-10 sm:block clear-both max-w-7xl sm:mt-0 lg:hidden")= full_name    
      p(class="text-center mt-7 mb-6 sm:clear-both lg:hidden")= claim
      ul(class="max-w-[40%] inline-block text-balance lg:hidden font-bold")
        li= "Lokace: "+location
        li="Cena za hodinu: "+price_per_hour+" Kč"
      button(onclick="showForm()" class="bg-[#74C7D3] w-32 h-12 rounded-lg inline-block float-right mr-7 text-lg sm:mr-24 lg:float-none lg:w-56 lg:h-20 lg:text-4xl lg:block lg:mx-auto ") Rezervovat
      


        //- contact   list-image-[url(../img/sipka.png)]     
      //- second part
    section(class="max-w-[90%] mx-auto mt-10 lg:w-full lg:mt-[10vh]")
      h1(class="hidden lg:block lg:text-5xl lg:font-bold ")= full_name
      div(class="mt-7 lg:max-h-[30vh] lg:overflow-y-auto")
        != bio
      p(class="hidden lg:block pt-6")= claim
      ul(class="hidden lg:block lg:text-right pt-6 text-2xl font-bold")
        li= "Lokace: "+location
        li="Cena za hodinu: "+price_per_hour+" Kč"
      div(class="hidden max-w-full text-left pb-5 pt-4 lg:block font-bold" )
        h2(class="text-3xl uppercase")="Kontakt"
        a(href="tel:"+telephone_numbers) 
          p(class="py-2 text-xl")= telephone_numbers
        a(href="mailto:"+emails) 
          p(class="py-1 text-xl")=emails

      //- third part
    section(class="max-w-[90%] mx-auto mt-14 sm:grid sm:grid-cols-2 sm:gap-2 lg:grid-cols-1 lg:gap-1 lg:flex lg:flex-col lg:m-0 lg:p-5")
      h1(class="text-center text-xl lg:text-2xl mb-4 font-bold") Oblasti, kterýma se zabývám
      div(class="h-24 sm:max-w-full sm:h-auto lg:max-w-full lg:max-h-[20%]")
        img(src="../../../img/TdA_ikony_pocitac_white.png",
            alt="ikonka počítače",
            loading="lazy",
            class="w-20 absolute sm:relative sm:float-left sm:w-1/3 sm:p-3 lg:p-5 ")
        div(class="text-center max-w-[50%] mx-auto sm:mx-0 sm:float-left sm:w-2/3")
          p(class="")= tag1
          p= tag2

      div(class ="h-24 sm:max-w-full sm:h-auto lg:max-h-[20%]") 
        img(src="../../../img/TdA_ikony_napad_blue.png",
            loading="lazy",
            alt="ikonka nápadu",
            class="w-20 absolute right-4 sm:relative sm:float-left sm:w-1/3 sm:p-3 lg:p-5 lg:right-0")
        div(class="text-center max-w-[50%] mx-auto sm:mx-0 sm:float-left sm:w-2/3")
          p(class="")=tag3
          p=tag4

      div(class ="h-24 sm:max-w-full sm:h-auto lg:max-h-[20%]") 
        img(src="../../../img/TdA_ikony_studium_white.png",
            loading="lazy",
            alt="ikonka studia",
            class="w-20 absolute sm:relative sm:float-left sm:w-1/3 sm:p-3 lg:p-5")
        div(class="text-center max-w-[50%] mx-auto sm:mx-0 sm:float-left sm:w-2/3")
          p(class="")=tag5
          p=tag6


      div(class ="h-24 sm:max-w-full sm:h-auto lg:max-h-[20%]") 
        img(src="../../../img/TdA_ikony_konverzace_blue.png",
            loading="lazy",
            alt="ikonka konverzace",
            class="w-20 absolute right-4 sm:relative sm:float-left sm:w-1/3 sm:p-3 lg:p-5 lg:right-0")
        div(class="text-center max-w-[50%] mx-auto sm:mx-0 sm:float-left sm:w-2/3")
          p(class="")=tag7
          p=tag9

    
      div(class ="h-24 sm:max-w-full sm:col-span-2 sm:justify-self-center sm:h-full lg:max-h-[20%]") 
        img(src="../../../img/TdA_ikony_nastaveni_white.png",
            loading="lazy",
            alt="ikonka nastavení",
            class="w-20 absolute sm:relative sm:float-left sm:w-2/5 lg:w-1/3 sm:p-3 lg:p-5")
        div(class="text-center max-w-[50%] mx-auto sm:mx-0 sm:float-left sm:w-2/3")
          p(class="")=tag8
          p=tag11

    section(class="max-w-full text-center pb-5 pt-4 lg:hidden")
      h2(class="text-3xl uppercase")="Kontakt"
      a(href="tel:"+telephone_numbers) 
        p(class="text-lg py-2")= telephone_numbers
      a(href="mailto:"+emails) 
        p(class="text-lg py-1")=emails
      //-form
  div(class="fixed inset-0 z-10 h-[100%] max-h-fit bg-black bg-opacity-50 backdrop-filter backdrop-blur-md hidden sm:items-center" id="formBg")
  div(class="w-full min-h-[70vh] absolute z-20 top-20 left-1/2 -translate-x-1/2 rounded-lg z-100 bg-[#02384D] max-h-fit sm:max-h-fit lg:w-[65vw] lg:max-h-fit lg:aspect-ratio-1 xl:w-[50vw] hidden " id="form")
    button(onclick="hiddenForm()" class="absolute right-[4vw] top-[2vh] sm:right-[1vw] sm:top-[4vh] max-w-[10%]")
      img(loading="lazy" src="../../../img/end.png", alt="" class="w-full sm:w-2/3 lg:w-2/3")   
    form(action='' method="POST" class="w-full flex flex-col space-y-4 p-6 text-xl font-bold text-white")
      div(class="max-w-[70vw] sm:max-w-[60vw] lg:max-w-[50vw] xl:max-w-[39vw] sm:ml-16 lg:ml-0")
        label(for="" class="mr-7 block sm:inline-block lg:ml-[5vw]") Jméno 
        input(type="text", name="first_name" class="w-full sm:w-3/5 h-[4vh] sm:h-[5.5vh] bg-[#74C7D3] rounded-lg float-right focus:outline-none focus:ring focus:ring-[#fff]" required)
      div(class="max-w-[70vw] sm:max-w-[60vw] lg:max-w-[50vw] xl:max-w-[39vw] sm:ml-16 lg:ml-0")
        label(for="" class="mr-7 block sm:inline-block lg:ml-[5vw]") Přijímení 
        input(type="text", name="last_name" class="w-full sm:w-3/5 h-[4vh] sm:h-[5.5vh] bg-[#74C7D3] rounded-lg float-right focus:outline-none focus:ring focus:ring-[#fff] " required)
      div(class="max-w-[70vw] sm:max-w-[60vw] lg:max-w-[50vw] xl:max-w-[39vw] sm:ml-16 lg:ml-0")
        label(for="" class="mr-7 block sm:inline-block lg:ml-[5vw]") Datum 
        input(type="date" name="date" class="w-full sm:w-3/5 h-[4vh] sm:h-[5.5vh] bg-[#74C7D3] rounded-lg float-right focus:outline-none focus:ring focus:ring-[#fff]" id="myDate" onchange="getDate()" required)
      div(class="max-w-[70vw] sm:max-w-[60vw] lg:max-w-[50vw] xl:max-w-[39vw] sm:ml-16 lg:ml-0")
        label(for="" class="mr-7 block sm:inline-block lg:ml-[5vw]") Hodiny 

      div(data-my-object=JSON.stringify(time) class="hidden")
      div(id="myCheckBox" class="grid grid-cols-4 gap-4 lg:max-w-[40vw] mx-auto items-center justify-center")
        script.
          // Získání objektu ze stránky pomocí datového atributu
          function getDate(){
            var divElement = document.getElementById("myCheckBox");
            while (divElement.firstChild) {
              divElement.removeChild(divElement.firstChild);
            }
            var date = document.getElementById("myDate").value
            var myObjectFromServer = JSON.parse(document.querySelector('[data-my-object]').getAttribute('data-my-object'));
            myObjectFromServer.forEach(myFunction)

          function myFunction(item, index, arr) {
          if(item.date === date){
            item.hours.forEach((v)=>{
              var newCheckbox = document.createElement("input");
              var newLabel =  document.createElement("label");
              newCheckbox.type = "checkbox";
              newCheckbox.name = "hours";
              newCheckbox.value = v;
              newCheckbox.id = v;


              newLabel.htmlFor = v;
              var text = document.createTextNode(v+":00" + "-"+parseInt(v+1)+":00");
              newLabel.appendChild(text)
              divElement.appendChild(newLabel)
              divElement.appendChild(newCheckbox)


            })
            console.log(item)
          }
          }
          }

        
      div(class="max-w-[70vw] sm:max-w-[60vw] lg:max-w-[50vw] xl:max-w-[39vw] lg:mx-auto sm:mx-auto")
        label(for="online" class="mr-2") Online
        input(type="radio" id="online" name="meeting" value="online" required) 
        label(for="personally" class="mr-2 ml-20") Osobně
        input(type="radio" id="personally" name="meeting" value="osobně" required)  
      div(class="max-w-[70vw] sm:max-w-[60vw] lg:max-w-[50vw] xl:max-w-[39vw] sm:ml-16 lg:ml-0")
        label(for="" class="mr-7 block sm:inline-block lg:ml-[5vw]") E-mail
        input(type="email", name="email" class="w-full sm:w-3/5 h-[4vh] sm:h-[5.5vh] bg-[#74C7D3] rounded-lg float-right focus:outline-none focus:ring focus:ring-[#fff]" required)
      div(class="max-w-[70vw] sm:max-w-[60vw] lg:max-w-[50vw] xl:max-w-[39vw] sm:ml-16 lg:ml-0")
        label(for="" class="mr-7 block sm:inline-block lg:ml-[5vw]") Tel. číslo
        input(type="tel", name="phone" class="w-full sm:w-3/5 h-[4vh] sm:h-[5.5vh] bg-[#74C7D3] rounded-lg float-right focus:outline-none focus:ring focus:ring-[#fff]" required)
      div(class="max-w-[70vw] sm:max-w-[60vw] lg:max-w-[50vw] xl:max-w-[39vw] sm:ml-16 lg:ml-0")
        label(for="" class="mr-7 block sm:inline-block lg:ml-[5vw]") Oblasti
        select(name="tag" class="w-full sm:w-3/5 h-[4vh] sm:h-[5.5vh] bg-[#74C7D3] rounded-lg float-right focus:outline-none focus:ring focus:ring-[#fff] text-white")
          each tag in tags
            option(value=""+tag.name class="text-white")= tag.name
      div(class="max-w-[70vw] sm:max-w-[60vw] lg:max-w-[50vw] xl:max-w-[39vw] sm:ml-16 lg:ml-0")
        label(for="" class="mr-7 block sm:inline-block lg:ml-[5vw]" ) Popisek
        textarea(name="description", cols="20", rows="10" class="w-full sm:w-3/5 h-[13vh] bg-[#74C7D3] rounded-lg float-right text-sm focus:outline-none focus:ring focus:ring-[#fff]" )
      div(class="max-w-[70vw] mx-auto")
        button(type="submit" class="w-full h-[7vh] bg-[#74C7D3] rounded-lg px-5 focus:outline-none focus:ring focus:ring-[#fff]") Rezervovat
      img(loading="lazy" src="../../../img/login.png", alt="" class="absolute w-20 right-[2.5vw] bottom-[3vh] hidden lg:block")      