extends layout

block content
  div(class="flex")
    img(src=picture_url, 
        alt= full_name 
        class="rounded-full relative mr-20")
    div(class="flex flex-col justify-center items-center")  
      h1(class="text-4xl w-max font-bold mb-12")= full_name
      div(class="w-80 mx-auto")
        != bio
  h1= location
  p= claim
  