extends layout

block content
  div(class="flex mx-auto flex-col w-screen lg:flex-row lg:my-0 lg:mx-0 lg:w-screen lg:h-screen sm:w-10/12 sm:mx-auto size-full overflow-x-hidden")

    //-first part
    div(class="w-full lg:w-1/4")
      div(class="fixed lg:w-1/4")
        img(src="../../img/logo.png", alt="logo", class="w-1/4 mb-10 lg:w-5/12 lg:ml-12 lg:mt-10 sm:float-left")

        div(class="w-1/2 relative lg:h-[15%] lg:ml-20 my-10 lg:block hidden") 
          img(src="../../../img/TdA_ikony_pocitac_white.png", alt="ikonka počítače", class="relative w-1/3 lg:w-24 animate-pulse")

        div(class="w-1/2 relative lg:h-[15%] lg:ml-20 my-10 lg:block hidden") 
          img(src="../../../img/TdA_ikony_napad_blue.png", alt="ikonka nápadu", class="relative w-1/3 lg:w-24  animate-pulse")

        div(class="w-1/2 relative lg:h-[15%] lg:ml-20 my-10 lg:block hidden") 
          img(src="../../../img/TdA_ikony_studium_white.png", alt="ikonka studia", class="relative w-1/3 lg:w-24  animate-pulse")

        div(class="w-1/2 relative lg:h-[15%] lg:ml-20 my-10 lg:block hidden") 
          img(src="../../../img/TdA_ikony_konverzace_blue.png", alt="ikonka konverzace", class="relative w-1/3 lg:w-24  animate-pulse")

        div(class="w-1/2 relative lg:h-[15%] lg:ml-20 my-10 lg:block hidden") 
          img(src="../../../img/TdA_ikony_nastaveni_white.png", alt="ikonka nastavení", class="relative w-1/3 lg:w-24  animate-pulse")

    div(class="w-full lg:w-3/4 flex flex-col mt-20 lg:ml-20")
      each n in lector
        a(href="/lecturers/"+n.uuid class="w-2/3 mx-auto  my-11") 
          img(src=n.picture_url, alt="" class="lg:float-left rounded-full w-2/3 mx-auto lg:w-1/4")
          div(class="lg:float-left w-full lg:w-2/3 text-xl px-5")
            p= n.claim
            p= "Cena za hodinu: "+n.price_per_hour
            p= "Lokace: "+n.location
            p= n.tags[0].name
            if(n.tags[1] && n.tags[1].name)
              p= n.tags[1].name
            else
              p= "..."

      //-third part
    div(class="lg:w-1/4 block  w-full")
      form(action="/", method="get" class="flex flex-col text-white w-full lg:fixed lg:w-1/4 right-11 top-32")
        label(for="minPrice" class="text-xl my-3") Minimální cena:
        input(type="number", id="minPrice", name="minPrice", placeholder="Minimální cena" class="h-9 text-black")

        label(for="maxPrice" class="text-xl my-3") Maximální cena:
        input(type="number", id="maxPrice", name="maxPrice", placeholder="Maximální cena" class="h-9 text-black")

        label(for="city" class="text-xl my-3") V kterém městě:
        input(type="text", name="city", id="city" class="h-9 text-black")
        label(for="tags" class="text-xl my-3") Vybrané tagy:
        select(name="tags", id="tags", multiple class="text-black h-32 text-lg")
          each tag in tagArray
            option(value=tag) #{tag} 
        button(type="submit" class="text-xl my-3") Filtrovat
