extends layout

block content
  //- first part

  div(class="flex flex-row")
    div(class ="ml-4 w-1/3")
      img(src="./img/logo.png",
          alt="logo",
          class="w-1/3 mb-20")
      div(class="relative h-auto my-24")
        img(src=picture_url, 
            alt= full_name 
            class="rounded-full relative w-96")
        img(src="./img/sipka.png",
            alt="ikonka šipky",
            class="rotate-90 w-20 absolute left-0 bottom-0")
      h2(class="text-4xl uppercase text-white text-center w-7/12")="Kontakt"
      p(class="text-center w-7/12 my-2")= telephone_numbers
      p(class="text-center w-7/12 my-2")=emails
    //- second part

    div(class="flex flex-col w-1/3")
      div(class="mt-20")  
        h1(class="text-5xl font-bold mb-12")= full_name
        div(class="w-4/5 mx-auto text-xl")
          != bio
          h1= location
          p= claim
    
    //- third part
    div(class="flex flex-col w-1/3")
      div(class ="w-full pe-8 my-6") 
        img(src="./img/TdA_ikony_pocitac_white.png",
            alt="ikonka počítače",
            class="w-1/5 float-left")
        div(class="mx-6 my-6 float-left text-center")
          p= tag1
          p= tag2

      div(class ="w-full ps-8 my-6") 
        img(src="./img/TdA_ikony_napad_blue.png",
            alt="ikonka nápadu",
            class="w-1/5 float-right")
        div(class="mx-6  my-9 float-right text-center")
          p=tag3
          p=tag4

      div(class ="w-full pe-8 my-6") 
        img(src="./img/TdA_ikony_studium_white.png",
            alt="ikonka studia",
            class="w-1/5 float-left")
        div(class="mx-6 my-9 float-left text-center")
          p=tag5
          p=tag6


      div(class ="w-full ps-8 my-6") 
        img(src="./img/TdA_ikony_konverzace_blue.png",
            alt="ikonka konverzace",
            class="w-1/5 float-right")
        div(class="mx-6 my-9 float-right text-center")
          p=tag7
          p=tag9

  
      div(class ="w-full pe-8 my-6") 
        img(src="./img/TdA_ikony_nastaveni_white.png",
            alt="ikonka nastavení",
            class="w-1/5 float-left")
        div(class="mx-6 my-9 float-left text-center")
          p=tag8
          p=tag10
