extends layout

block content
  each n in lector
    a(href=n.uuid) 
      img(src=n.picture_url, alt="")
      p= n.claim
      p= n.price_per_hour
      p= n.location
      p= n.tags[0].name
      p= n.tags[1].name