extends layout

block content
  main(class="flex flex-col lg:flex-row max-w-full")

    //-first part
    section(class="w-full xl:max-w-[30vw] ")
      img(src="../../img/logo.png", alt="logo", class="max-w-[30%] m-12")
      div(class="hidden lg:block lg:sticky lg:top-[5%] ml-10")
        div(class="w-full ") 
          img(src="../../../img/TdA_ikony_pocitac_white.png", alt="ikonka počítače", class="w-1/3 p-[5%] animate-pulse")
        div(class="w-full ") 
          img(src="../../../img/TdA_ikony_napad_blue.png", alt="ikonka nápadu", class="w-1/3 p-[5%] animate-pulse")
        div(class="w-full  ") 
          img(src="../../../img/TdA_ikony_studium_white.png", alt="ikonka studia", class="w-1/3 p-[5%] animate-pulse")
        div(class="w-full ") 
          img(src="../../../img/TdA_ikony_konverzace_blue.png", alt="ikonka konverzace", class="w-1/3 p-[5%] animate-pulse")
        div(class="w-full ]") 
          img(src="../../../img/TdA_ikony_nastaveni_white.png", alt="ikonka nastavení", class="w-1/3 p-[5%] animate-pulse")
      //- 
      //- div(class="hidden lg:block lg:fixed lg:w-1/4 ml-[2vw] sticky top-[10vh]")
      //-     div(class="w-full top-[20vh]") 
      //-       img(src="../../../img/TdA_ikony_pocitac_white.png", alt="ikonka počítače", class="w-1/3 p-[5%] animate-pulse")

      //-     div(class="w-full sticky top-[35vh]") 
      //-       img(src="../../../img/TdA_ikony_napad_blue.png", alt="ikonka nápadu", class="w-1/3 p-[5%] animate-pulse")

      //-     div(class="w-full sticky  top-[50vh]") 
      //-       img(src="../../../img/TdA_ikony_studium_white.png", alt="ikonka studia", class="w-1/3 p-[5%] animate-pulse")

      //-     div(class="w-full sticky  top-[65vh]") 
      //-       img(src="../../../img/TdA_ikony_konverzace_blue.png", alt="ikonka konverzace", class="w-1/3 p-[5%] animate-pulse")

      //-     div(class="w-full sticky top-[80vh]") 
      //-       img(src="../../../img/TdA_ikony_nastaveni_white.png", alt="ikonka nastavení", class="w-1/3 p-[5%] animate-pulse")



    section(class="w-full order-last lg:order-2 lg:max-w-[60vw] grid grid-cols-1 gap-y-12 mt-10 mr-[5vw] sm:grid-cols-2 lg:sm:grid-cols-1")
      each lector in lectors 
        a(href="/lecturers/"+lector.lecturer_uuid class="shadow-black shadow-md rounded-md p-4 max-h-[90vh] lg:max-h-[50vh] xl:max-h-[35vh] bg-[#02384D]"  target="_blank" rel="noopener noreferrer")
          img(src=lector.picture_url, alt="" class="lg:float-left rounded-full w-2/3 mx-auto lg:w-1/4 my-2")
          - var title_before = lector.title_before || ""
          - var middle_name = lector.middle_name || ""
          - var title_after = lector.title_after || ""
          - var first_name = lector.first_name || ""
          - var last_name = lector.last_name || ""
          div(class="lg:float-left lg:max-w-[70%]")
            h2(class="mt-9 text-2xl px-10 text-white font-bold")=title_before +" "+ first_name+" "+ middle_name +" "+last_name+" "+title_after
            p(class="mt-5 text-xl px-10")=lector.claim
            p(class="mt-5 text-xl px-10")="Cena za hodinu: "+lector.price_per_hour
            p(class="px-10")= "Lokace: "+lector.location

      //-   a(href="/lecturers/"+n.uuid class="w-2/3 mx-auto  my-11") 
      //-     img(src=n.picture_url, alt="" class="lg:float-left rounded-full w-2/3 mx-auto lg:w-1/4")
      //-     div(class="lg:float-left w-full lg:w-2/3 text-xl px-5")
      //-       p= n.claim
      //-       p= "Cena za hodinu: "+n.price_per_hour
      //-       p= "Lokace: "+n.location
      //-       p= n.tags[0].name
      //-       if(n.tags[1] && n.tags[1].name)
      //-         p= n.tags[1].name
      //-       else
      //-         p= "..."
      //- form get
      
      //-third part 
    section(class="lg:max-w-[30vw] xl:max-w-[20vw] block w-full float-right lg:order-3")
      div(class="border sticky top-[10vh]")
        h1(class="title") Najdi si lektora na míru
        //-price range
        form(action="/", method="GET" class="lg:text-lg xl:text-xl bg-[#02384D]")
          .wrapper
            .slider
              .progress
            .range-input
              input.range-min(id="rangeMin" type="range", min="0", max="10000", value="2500", step="100" onchange="onchangevalues1()")
              input.range-max(id="rangeMax" type="range", min="0", max="10000", value="7500", step="100" onchange="onchangevalues1()")
            .price-input
              .field
                span 
                input.input-min(id="inputMin" name="inputMin" type="number", value="2500" onchange="onchangevalues2()")
              .separator až
              .field
                input.input-max(id="inputMax" name="inputMax" type="number", value="7500" onchange="onchangevalues2()")
                span() Kč

            //- checkbox
          div(class="container w-[90%] mx-auto max-h-[30vh] lg:max-h-[50vh] overflow-y-auto") 
            h3.title Zvol si tag/tagy
            each n in tagArray
              .box
                input.checkbox(type="checkbox", id=""+n, value=""+n name="tag")
                label(for=""+n)= n
            .print
            p.text Vybral jsi: 
            p(class="value" id="tags")

          div(class="city container my-2 mx-auto")
            label(for="city") Město 
            input(type="text", name="city" id="city")
          button(type="submit" class="bg-[#74C7D3] rounded-lg block w-1/2 mx-auto mt-3") Odeslat

        //-footer
  footer(class="bg-[#2F7282] text-white text-center py-4 mt-[5vh]")
    img(src="../../img/logo.png", alt="logo" class="w-1/12 ml-4")
    div(class="text-right mr-7")
      p Domů
      p O nás
      p Kontakt
      p Zásady ochrany osobních údajů
    p © 2024 Teacher digital Agency
