extends layout
block content
    main(class="flex flex-col lg:flex-row ")
        section(class="w-[10vw]")
             a(href="../../" rel="noopener noreferrer") 
                img(loading="lazy" src="../img/logo.png", alt="logo", class="w-40 pt-8 pl-4 sm:w-56 sm:inline-block lg:block lg:px-5")
        section(class="w-full lg:w-[50vw] order-3 lg:order-2")
            h1(class="lg:text-3xl my-7 font-bold") Tvé hodiny:
            each student, index in reservation
                - var studentId = "student-" + index;
                div(class="shadow-black shadow-md rounded-md p-4 max-h-[90vh] lg:max-h-full xl:max-h-[35vh] bg-[#02384D] grid grid-cols-2 my-10")
                    div()
                        p= "Jméno: "+student.first_name +" " + student.last_name
                        p= "Schůzka je: "+student.meeting
                        a(href="mailto:"+student.email class="block text-white")="Mail: "+ student.email
                        a(href="tel:+" +student.phone class="block text-white")="Telefon: "+ student.phone
                    div()
                        p= "Datum konání schůzky: "+student.date
                        p= "Hodiny: "+student.hours   
                        p= "Tag: "+student.tag
                        p= "Popisek: "+student.description
                    button(type="button" onclick="Show('" + studentId + "')" class="bg-[#74C7D3] col-span-2 h-9 mt-4 w-[50%] mx-auto rounded-lg") smazat záznam
                    form(action="", method="get" id=""+studentId class="hidden absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[80vw] lg:w-[30vw] h-[40vh] bg-white rounded-lg p-4 border-2 border-black text-black lg:text-xl")
                        input(name="reservation_uuid" value=""+student.reservation_uuid class="hidden")
                        h1(class="text-black text-center max-w-full my-4")= "Chystáte se smazat hodinu, opravdu to chcete?"
                        h2(class="text-black  text-center max-w-full my-4")= "Po smazaní nelze vzít zpět"
                        h2(class="text-black  text-center max-w-full my-4")= "Dejte vědět studentovi že hodina padá"
                        a(href="mailto:"+student.email class="text-black  text-center w-full block my-4")= student.email
                        div(class="grid grid-cols-2 mt-20")
                            button(type="button"  onclick="Hide('" + studentId + "')") ne
                            input(type="submit" value="ano, smazat" class="cursor-pointer text-red-500")
                    script.
                        function Show(studentId){
                            console.log(studentId)
                            const getForm = document.getElementById(studentId);
                            getForm.classList.remove("hidden");
                            getForm.classList.add("block");
                        }
                        function Hide(studentId){
                            console.log(studentId)
                            const getForm = document.getElementById(studentId);
                            getForm.classList.remove("block");
                            getForm.classList.add("hidden");
                        }

                        



        section(class="w-[40vw] order-2 lg:order-3")          
            form(action="/logout?_method=DELETE" method="POST")
                button(type="submit" class="bg-[#74C7D3] h-9 mt-4 w-[50%] rounded-lg mx-auto block") Log Out
            a(href='/user/download/calendar' class="bg-[#74C7D3] mt-4 w-[50%] rounded-lg mx-auto block text-center py-2") Download Calendar