extends layout
block content
    main(class="flex flex-col lg:flex-row ")
        section(class="w-[20vw]sm:w-[10vw] ")
             a(href="../../" rel="noopener noreferrer") 
                img(loading="lazy" src="../img/logo.png", alt="logo", class="w-[50%] lg:w-40 pt-8 pl-4 sm:w-56 sm:inline-block lg:block lg:px-5")
        section(class="w-full lg:w-[50vw] order-3 lg:order-2")
            h1(class="lg:text-3xl my-7 font-bold") Tvé hodiny:
            each student, index in reservation
                - var studentId = "student-" + index;
                div(class="shadow-black shadow-md rounded-md p-4 max-h-[90vh] lg:max-h-full xl:max-h-[35vh] bg-[#02384D] grid grid-cols-2 my-10")
                    div()
                        p= "Jméno: "+student.first_name +" " + student.last_name
                        p= "Schůzka je: "+student.meeting
                        a(href="mailto:"+student.email class="block text-white")="Mail: "+ student.email
                        a(href="tel:+" +student.phone class="block text-white")="Telefon: "+ student.phone
                    div()
                        p= "Datum konání schůzky: "+student.date
                        p= "Hodiny: "+student.hours   
                        p= "Tag: "+student.tag
                        p= "Popisek: "+student.description
                    button(type="button" onclick="Show('" + studentId + "')" class="bg-[#74C7D3] col-span-2 h-9 mt-4 w-[50%] mx-auto rounded-lg") smazat záznam
                    form(action="", method="get" id=""+studentId class="hidden absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[80vw] lg:w-[30vw] h-[40vh] bg-white rounded-lg p-4 border-2 border-black text-black lg:text-xl")
                        input(name="reservation_uuid" value=""+student.reservation_uuid class="hidden")
                        h1(class="text-black text-center max-w-full my-4")= "Chystáte se smazat hodinu, opravdu to chcete?"
                        h2(class="text-black  text-center max-w-full my-4")= "Po smazaní nelze vzít zpět"
                        h2(class="text-black  text-center max-w-full my-4")= "Dejte vědět studentovi že hodina padá"
                        a(href="mailto:"+student.email class="text-black  text-center w-full block my-4")= student.email
                        div(class="grid grid-cols-2 mt-20")
                            button(type="button"  onclick="Hide('" + studentId + "')") ne
                            input(type="submit" value="ano, smazat" class="cursor-pointer text-red-500")
                    script.
                        function Show(studentId){
                            const getForm = document.getElementById(studentId);
                            getForm.classList.remove("hidden");
                            getForm.classList.add("block");
                        }
                        function Hide(studentId){
                            const getForm = document.getElementById(studentId);
                            getForm.classList.remove("block");
                            getForm.classList.add("hidden");
                        }

                        



        section(class="w-full lg:w-[40vw] order-2 lg:order-3")
            div(class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[70vw] sm:w-[60vw] lg:w-[30vw] bg-white rounded-md shadow-xl shadow-black z-10" id="hour")
            div(data-my-object=JSON.stringify(calander) class="hidden")
            div(class="sticky")          
                form(action="/logout?_method=DELETE" method="POST")
                    button(type="submit" class="bg-[#74C7D3] h-9 mt-4 w-[50%] rounded-lg text-xl sm:mx-auto ml-[40%] block mb-6 ") Odhlásit se 
                each mouth in calander
                    div(class=" bg-white sm:w-[80%] lg:w-[95%] mx-auto text-lg pb-3 rounded-lg w-full relative"+mouth.mouth_name id="calender")
                        h2(class="text-center text-xl font-bold pt-3")= mouth.mouth_name
                        img(class="w-11 float-right relative right-3 bottom-6 cursor-pointer" src="../../../img/arrow.png" id="icon")
                        div(class="grid grid-cols-7 gap-2 m-5 float-none")
                            div()= mouth.days_name[0]
                            div()= mouth.days_name[1]
                            div()= mouth.days_name[2]
                            div()= mouth.days_name[3]
                            div()= mouth.days_name[4]
                            div()= mouth.days_name[5]
                            div()= mouth.days_name[6]
                            each day in mouth.days
                                div(class="text-center bg-[#74C7D3] rounded-md cursor-pointer hover:bg-slate-400 days " id=""+day.date_format)= day.number
                a(href='/user/download/calendar' class="bg-[#74C7D3] mt-4 w-[50%] rounded-lg mx-auto text-xl block text-center py-2") Stáhnout si kalendář

        script.
            var hourDiv = document.getElementById('hour');
                var myObjectFromServer = JSON.parse(document.querySelector('[data-my-object]').getAttribute('data-my-object'));
                var calendarDays = document.querySelectorAll('.days');
                var hourDiv = document.getElementById('hour');
                var children = hourDiv.children;

                console.log(myObjectFromServer)

                var calender = document.getElementById('calender');
                var icon = calender.querySelector('#icon');

                var calander2=document.querySelector('[class*="' + myObjectFromServer[1].mouth_name.toString() + '"]')
                var icon2 = calander2.querySelector('#icon');

                calander2.classList.add("hidden");
                //- mouth.classList.add("hidden");


                icon.addEventListener('click', (event) => {
                    calander2.classList.remove("hidden");
                    calender.classList.add("hidden");
                })

                icon2.addEventListener('click', (event) => {
                    calender.classList.remove("hidden");
                    calander2.classList.add("hidden");
                })


                for(i = 0; i<=1;i++){
                    var mouth = myObjectFromServer[i]
                    mouth.days.map(d=>{
                        if (d.hours.some(item => item.event !== "")) {
                            var day = document.getElementById(d.date_format);
                            console.log(d.date_format);
                            day.className += " bg-[#FEC93D]";
                        }

                    })
                }
                calendarDays.forEach((day) => {
                    day.addEventListener('click', (event) => {
                       
                        myObjectFromServer.forEach(v=>{
                            v.days.forEach(d=>{

                                if(d.date_format === event.target.id && hourDiv.children.length <= 9 ) { // Přidáno omezení na 9 prvků v hourDiv
                                    d.hours.forEach(h=>{
                                        var parentDiv = document.createElement('div');
                                        parentDiv.className = "hover:bg-slate-400 mx-10 my-2 p-2 border-b-2 border-black";
                                        // Vytvoření nového divu s textovým obsahem
                                        var newDiv = document.createElement('div');
                                        newDiv.textContent = h.hour + "-" + (h.hour + 1);
                                        newDiv.className = "inline max-w-[30%]";

                                        // Vytvoření nového paragrafu s textovým obsahem
                                        var newp = document.createElement('p');
                                        newp.textContent = h.event;
                                        newp.className = "inline text-black max-w-[60%] mx-5 ";

                                        // Přidání nového divu a nového paragrafu do rodičovského divu
                                        parentDiv.appendChild(newDiv);
                                        parentDiv.appendChild(newp);
                                        hourDiv.appendChild(parentDiv);
                                    })
                                }
                            })

                        })
                    });
                });
            hourDiv.addEventListener('click', function(event) {
                 while (hourDiv.firstChild) {
                    hourDiv.removeChild(hourDiv.firstChild);
                }

            });      

         

                    